//this is for color css
/* the styles for the html elements */
html {
    background-color: rgb(255, 0, 0);
}
body{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin-top: -700px;
    z-index: 10;
}
a:hover {
    color: rgb(208, 133, 4);
}

h1, h2 {
    color: #333;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px dashed black;
}