/*this is for color css */

@mixin color($property) {
    color: $property; 
  }

  @mixin backcolor($property) {
    background-color: $property; 
  }

  @mixin textcolor($property) {
    color: $property; 
  }

  h1 {
    color: white;
    text-align: center;
  }

 
  